<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.1.0/lodash.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bluebird/latest/bluebird.min.js"></script>
    <!-- I'm a bad person -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
