<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.1.0/lodash.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bluebird/latest/bluebird.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
